<div class="text-center">
  <table class="table-bordered text-center rate table-striped">
    <caption class="text-center">Exchange Rate</caption>
    <thead>
      <tr>
        <th scope="col">货币对</th>
        <th scope="col">买入价</th>
        <th scope="col">卖出价</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>AUD/CNY</td>
        <td>4.8060</td>
        <td>4.9046</td>
      </tr>
      <tr>
        <td>AUD/USD</td>
        <td>0.6946</td>
        <td>0.7272</td>
      </tr>
      <tr>
        <td>AUD/HKD</td>
        <td>5.4863</td>
        <td>5.5932</td>
      </tr>
      <tr>
        <td>AUD/NZD</td>
        <td>1.0256</td>
        <td>1.0429</td>
      </tr>
      <tr>
        <td>AUD/JPY</td>
        <td>76.6830</td>
        <td>78.9180</td>
      </tr>
      <tr>
        <td>AUD/EUR</td>
        <td>0.5736</td>
        <td>0.6386</td>
      </tr>
      <tr>
        <td>AUD/CAD</td>
        <td>0.9176</td>
        <td>0.9547</td>
      </tr>
      <tr>
        <td>AUD/GBP</td>
        <td>0.5200</td>
        <td>0.5441</td>
      </tr>
      <tr>
        <td>AUD/TWD</td>
        <td>19.4221</td>
        <td>25.7458</td>
      </tr>
    </tbody>
  </table>
</div>
