<div class="details">
  <h3 class="h3 text-center">Client Detail</h3>
  <div *ngIf="client">
    <div class="client">
      <div class="row">
        <div class="col">
          <span>First Name: {{client.firstName}}</span>
        </div>
        <div class="col">
          <span>Last Name: {{client.lastName}}</span>
        </div>
        <div class="col">
          <span>Chinese Name: {{client.chineseName}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span>Birth Date: {{client.birthDate | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="col">
          <span>Mobile: {{client.mobile}}</span>
        </div>
        <div class="col">
          <span>Address: {{client.address}} {{client.suburb}} {{client.state}} {{client.postCode}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span>Identity Type: {{client.identityType}}</span>
        </div>
        <div class="col">
          <span>Identity: {{client.identity}}</span>
        </div>
        <div class="col">
          <span>Expire Date: {{client.identityExpireDate | date: 'dd/MM/yyyy'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span>Identity Image:</span>
          <img src="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accounts">
  <h5 class="h5">Bank Account</h5>
  <div class="accountTable">
    <button class="btn btn-light bg-block" (click)="openAccount(template, null)">Add Account</button>
    <table class="table table-striped table-hover">
      <thead class="thead-light">
        <th scope="col">Account Name</th>
        <th scope="col">Account Number</th>
        <th scope="col">Bank</th>
        <th scope="col">Options</th>
      </thead>
      <tbody>
          <tr *ngFor="let account of accounts">
            <td>{{account.accountName}}</td>
            <td>{{account.accountNumber}}</td>
            <td>{{account.bank}}</td>
            <td class="row">
              <button alt="delete" class="col btn" (click)="onDelete(account._id)"><i class="far fa-trash-alt text-center"></i></button>
              <button alt="edit" class="col btn"><i class="far fa-edit" (click)="onEdit(account._id)" ></i></button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-header text-center">
    <h4 class="modal-title pull-left">Add Account</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body accountTemp">
    <form (ngSubmit)="onSubmit()" [formGroup]="accountForm" class="accountForm">
      <div class="form-group row">
        <label for="accountName" class="col-sm-4 col-form-label">Account Name:</label>
        <input id="accountName" formControlName="accountName" class="col-sm-8 form-control" type="text">
      </div>
      <div class="form-group row">
        <label for="accountNumber" class="col-form-label col-sm-4">Account Number:</label>
        <input id="accountNumber" formControlName="accountNumber" class="col-sm-8 form-control" type="text">
      </div>
      <div class="form-group row">
        <label for="bank" class="col-form-label col-sm-4">Bank:</label>
        <input id="bank" formControlName="bank" class="form-control col-sm-8" type="text">
      </div>
      <button type="submit" class="btn btn-lg btn-block btn-primary col-sm-4"> Save </button>
    </form>
  </div>
</ng-template>
