<div class="details">
  <h3 class="h3 text-center">Client Detail</h3>
  <div *ngIf="client">
    <div class="client">
      <div class="row">
        <div class="col">
          <span>First Name: {{client.firstName}}</span>
        </div>
        <div class="col">
          <span>Last Name: {{client.lastName}}</span>
        </div>
        <div class="col">
          <span>Chinese Name: {{client.chineseName}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span>Birth Date: {{client.birthDate | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="col">
          <span>Mobile: {{client.mobile}}</span>
        </div>
        <div class="col">
          <span>Address: {{client.address}} {{client.suburb}} {{client.state}} {{client.postCode}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span>Identity Type: {{client.identityType}}</span>
        </div>
        <div class="col">
          <span>Identity: {{client.identity}}</span>
        </div>
        <div class="col">
          <span>Expire Date: {{client.identityExpireDate | date: 'dd/MM/yyyy'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span>Identity Image:</span>
          <img src="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accounts">
  <h5 class="h5">Bank Account</h5>
  <div class="accountTable">
    <button class="btn btn-light bg-block" (click)="openAccount(template, null)">Add Account</button>
    <table class="table table-striped table-hover text-center">
      <thead class="thead-light">
        <th scope="col">Account Name</th>
        <th scope="col">Account Number</th>
        <th scope="col">Bank</th>
        <th scope="col">Options</th>
      </thead>
      <tbody>
          <tr *ngFor="let account of accounts">
            <td>{{account.accountName}}</td>
            <td>{{account.accountNumber}}</td>
            <td>{{account.bank}}</td>
            <td class="row">
              <button alt="delete" class="col btn" (click)="onDelete(account._id)"><i class="far fa-trash-alt text-center"></i></button>
              <button alt="edit" class="col btn" (click)="onEdit(template,account)"><i class="far fa-edit"></i></button>
              <button alt="transaction" class="col btn" (click)="onTransfer(transferTemplate,account, client)"><i class="fas fa-exchange-alt"></i></button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-header text-center">
    <h4 class="modal-title pull-left">{{modalTitle}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body accountTemp">
    <form (ngSubmit)="onSubmit()" [formGroup]="accountForm" class="accountForm">
      <input type="hidden" id="_id" formControlName="_id">
      <div class="form-group row">
        <label for="accountName" class="col-sm-4 col-form-label">Account Name:</label>
        <input id="accountName" formControlName="accountName" class="col-sm-8 form-control" type="text">
      </div>
      <div class="form-group row">
        <label for="accountNumber" class="col-form-label col-sm-4">Account Number:</label>
        <input id="accountNumber" formControlName="accountNumber" class="col-sm-8 form-control" type="text">
      </div>
      <div class="form-group row">
        <label for="bank" class="col-form-label col-sm-4">Bank:</label>
        <input id="bank" formControlName="bank" class="form-control col-sm-8" type="text">
      </div>
      <button type="submit" class="btn btn-lg btn-block btn-primary col-sm-4"> Save </button>
    </form>
  </div>
</ng-template>


<ng-template #transferTemplate>
  <div class="modal-header text-center">
    <h4 class="modal-title pull-left">Create Transaction</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="transactionModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body transactionTemp">
    <form (ngSubmit)="onTransactionSubmit()" [formGroup]="transactionForm" class="transactionForm">
      <div class="remittancer">
        <div class="form-group row">
          <label for="lastName" class="col-sm-4 col-form-label">姓LastName:</label>
          <input id="lastName" formControlName="lastName" class="col-sm-8 form-control" type="text" disabled>
        </div>
        <div class="form-group row">
          <label for="firstName" class="col-sm-4 col-form-label" >名FirstName:</label>
          <input id="firstName" class="col-sm-8 form-control" formControlName="firstName" type="text" disabled>
        </div>
        <div class="form-group row">
          <label for="birthDate" class="col-form-label col-sm-4">出生日前DOB:</label>
          <input id="birthDate" formControlName="birthDate" class="col-sm-8 form-control" type="text" disabled>
        </div>
        <div class="form-group row">
          <label for="phone" class="col-form-label col-sm-4">电话Phone:</label>
          <input id="phone" formControlName="phone" class="col-sm-8 form-control" type="text" disabled>
        </div>
        <div class="form-group row">
          <label for="identity" class="col-form-label col-sm-4">证件ID:</label>
          <input id="identity" formControlName="identity" class="col-sm-8 form-control" type="text" disabled>
        </div>
        <div class="form-group row">
          <label for="address" class="col-form-label col-sm-4">地址Address:</label>
          <input id="address" formControlName="address" class="col-sm-8 form-control" type="text" disabled>
        </div>
      </div>
      <div class="payee">
        <div class="form-group row">
          <label for="receiverBank" class="col-form-label col-sm-4">银行Bank:</label>
          <input id="receiverBank" formControlName="receiverBank" class="form-control col-sm-8" type="text" disabled>
        </div>
        <div class="form-group row">
          <label for="receiverName" class="col-form-label col-sm-4">姓名Name:</label>
          <input id="receiverName" formControlName="receiverName" class="form-control col-sm-8" type="text" disabled>
        </div>
        <div class="form-group row">
          <label for="receiverAccount" class="col-sm-4 col-form-label">账号A/C No:</label>
          <input id="receiverAccount" formControlName="receiverAccount" class="form-control col-sm-8" type="text" disabled>
        </div>
      </div>
      <div class="exchange">
        <div class="form-group row">
          <label for="receiveAmount" class="col-sm-4 col-form-label">当地货币金额:</label>
          <input id="receiveAmount" formControlName="receiveAmount" class="form-control col-sm-6" type="text">
          <select id="receiveCurrency" class="col-sm-2 form-control" type="s" formControlName="receiveCurrency">
            <option value="AUD">AUD</option>
            <option value="CNY">CNY</option>
            <option value="USD">USD</option>
            <option value="HKD">HKD</option>
          </select>
        </div>
        <div class="form-group row">
          <label for="rate" class="col-form-label col-sm-4">汇率:</label>
          <input id="rate" formControlName="rate" class="form-control col-sm-4">
        </div>
        <div class="form-group row">
          <label for="payAmount" class="col-sm-4 col-form-label">应付货币金额:</label>
          <input id="payAmount" formControlName="payAmount" class="form-control col-sm-6" type="text">
          <select id="payCurrency" class="col-sm-2 form-control" type="s" formControlName="payCurrency">
            <option value="AUD">AUD</option>
            <option value="CNY">CNY</option>
            <option value="USD">USD</option>
            <option value="HKD">HKD</option>
          </select>
        </div>
        <div class="form-group row">
          <label for="fee" class="col-form-label col-sm-4">汇费:</label>
          <input id="fee" formControlName="fee" class="form-control col-sm-4">
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-block btn-primary col-sm-4"> Create </button>
    </form>
  </div>
</ng-template>
