<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/app/dashboard">
              <i class="fas fa-home"></i>Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app/clients">
              <i class="fas fa-users"></i>Clients
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app/transactions">
              <i class="fas fa-exchange-alt"></i>Transactions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app/statistics">
              <i class="fas fa-chart-bar"></i>Statistics
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
