.search {
  margin-top: 50px;
}

label {
  text-align: right;
}

table {
  margin-top: 10px;
}

.clientTable {
  border:1px solid gray;
  border-radius: 4px;
  margin-top: 50px;
}

.clientTable .btn-outline-primary {
  margin: 10px;
  float: right;
}

.table td {
  font-size: 0.8rem !important;
}


tr .row button {
  margin-top: -10px;
}
